@tailwind base;
@tailwind components;
@tailwind utilities;


.react-parallax-bgimage {
  overflow: hidden !important;
  width: 100% !important;
  height: auto !important;
  
}

.nav_link .active {
  color: orange !important;
  background: none !important;
  font-weight: bold !important;
  border-bottom: 3px solid orange !important;
  text-shadow: 2px 3px 3px #000;
}
